@use "../../variables" as *;

$border-color: #f1f5f9;

.sticky-header {
  padding: $spacing-8 $spacing-6 $spacing-4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $border-color;
  background: $white;
  cursor: pointer;
  transition: $transition-base;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    transform: scale(0.95);
  }
}

.header-subtitle {
  color: $slate-400;
  font-size: $text-sm;
  font-weight: $font-semibold;
}